@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --z-enter-post: 5;
    --z-sidebar: 10;
    --z-sidebar-top: 15;
    --z-above-sidebar: 20;
    --z-popup-bg: 30;
    --z-popup: 40;
  }

  @font-face {
    font-family: "Inter";
    src: url("./assets/fonts/InterVariable.ttf");
  }
  @font-face {
    font-family: "Inter";
    src: url("./assets/fonts/InterVariable-Italic.ttf");
    font-style: italic;
  }

  @font-face {
    font-family: "Noto Color Emoji";
    src: url("./assets/fonts/emoji/NotoColorEmoji-Regular-NoSVG.ttf");
  }

  @font-face {
    font-family: "nasin nanpa";
    src: url("./assets/fonts/sitelen-pona/nasin-nanpa-4.0.1-UCSUR.otf");
  }
}
