@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter";
    src: url("./assets/fonts/InterVariable.ttf");
  }
  @font-face {
    font-family: "Inter";
    src: url("./assets/fonts/InterVariable-Italic.ttf");
    font-style: italic;
  }
}
